<template>
  <div class="main-video-wrapper">
    <VideoPlayer
      class="main-video"
      ref="mainVideo"
      :source="source"
      :poster="poster"
      :controls="true"
      :muted="false"
      @event="onEvent"
    />
    <div class="descriptions">
      <p>{{ tag }}</p>
      <p>{{ description }}</p>
    </div>
  </div>
</template>

<script>
import VideoPlayer from "./VideoPlayer";
import eventbus from "../eventbus";

export default {
  name: "MainVideo",
  props: ["source", "poster", "tag", "description"],
  components: {
    VideoPlayer
  },
  watch: {
    source() {
      const currentTime = this.$refs.mainVideo.$refs.video.currentTime;
      this.$refs.mainVideo.loadSource(currentTime);
    }
  },
  methods: {
    onEvent(e) {
      eventbus.$emit("event", e);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/variables.scss";

.main-video-wrapper {
  .main-video {
    margin: 0 auto;
    max-width: 90%;
    max-height: 80%;
  }

  .descriptions {
    margin: 20px 5%;
    text-align: left;
    font-size: 24px;
    color: $font;

    p:first-child {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main-video-wrapper {
    .descriptions {
      font-size: 18px;

      p:first-child {
        font-size: 16px;
      }
    }
  }
}
</style>
