<template>
  <div class="video-player">
    <VideoPlayer
      :source="source"
      :controls="false"
      :poster="poster"
      :muted="true"
      ref="videoPlayer"
      @click="$emit('click')"
    />
    <img class="image" :src="image" @click="$emit('click')" />
  </div>
</template>

<script>
import VideoPlayer from "./VideoPlayer";
import eventbus from "../eventbus";

export default {
  name: "ThumbnailVideo",
  props: ["source", "poster"],
  components: {
    VideoPlayer
  },
  data() {
    return {
      image: require("../assets/images/sync-arrow.svg")
    };
  },
  created() {
    eventbus.$on("event", this.onEvent);
  },
  methods: {
    onEvent(e) {
      if (!this.$refs.videoPlayer) {
        return;
      }
      switch (e.type) {
        case "play":
          this.$refs.videoPlayer.play();
          this.$refs.videoPlayer.$refs.video.currentTime = e.target.currentTime;
          break;
        case "pause":
          this.$refs.videoPlayer.pause();
          this.$refs.videoPlayer.$refs.video.currentTime = e.target.currentTime;
          break;
        default:
          break;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "../assets/styles/variables.scss";

.video-player {
  width: 50%;
  height: 20%;
  position: relative;
  background-color: $dark;
  display: flex;

  &:hover {
    cursor: pointer;
    border: 5px solid $dark;

    .image {
      display: block;
    }
  }

  .image {
    display: none;
    position: absolute;
    top: 50%;
    height: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (max-width: 1000px) {
  .video-player {
    width: 100%;
    margin: 5% 0;
    display: block;
  }
}
</style>
