<template>
  <div class="video-wrapper">
    <video
      id="video"
      :controls="controls"
      :muted="muted"
      :poster="poster"
      preload="metadata"
      @play="onEvent"
      @pause="onEvent"
      ref="video"
      @click="$emit('click')"
    >
      <source :src="source" type="video/mp4" ref="source" />
      Video tag not supported
    </video>
  </div>
</template>

<script>
export default {
  name: "VideoPlayer",
  props: ["source", "poster", "muted", "controls"],
  data() {
    return {
      onPlay: false
    };
  },
  watch: {
    source() {
      this.changeSource();
    }
  },
  methods: {
    onEvent(e) {
      this.$emit("event", e);
    },
    play() {
      if (!this.onPlay) {
        this.onPlay = true;
        this.$refs.video.play().then(() => {
          this.onPlay = false;
        });
      }
    },
    pause() {
      if (!this.onPlay) {
        this.$refs.video.pause();
      }
    },
    changeSource() {
      this.pause();
      this.play();
    },
    loadSource(currentTime) {
      if (this.onPlay) return;
      this.$refs.source.setAttribute("src", this.source);
      this.$refs.video.load();
      this.$refs.video.currentTime = currentTime;
      this.play();
    }
  }
};
</script>

<style scoped lang="scss">
.video-wrapper {
  video {
    width: 100%;
    height: 100%;
  }
}
</style>
