<template>
  <div id="app">
    <h1>AIMotive Candidate Project</h1>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis
      cupiditate dicta doloremque dolorum, earum laborum odio officia
      praesentium, quasi qui quos sit tenetur veritatis. Fuga libero molestias
      quaerat rerum tempore! Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Aliquam blanditiis culpa cupiditate quas voluptatibus? Architecto
      assumenda consequuntur dolor dolorem eius, fugiat ipsa molestias nisi,
      odit optio, possimus quod rerum voluptatum! Lorem ipsum dolor sit amet,
      consectetur adipisicing elit.
    </p>
    <div class="videos">
      <div class="main">
        <MainVideo
          :source="mainVideo.src"
          :poster="mainVideo.poster"
          :tag="mainVideo.tag"
          :description="mainVideo.description"
        />
      </div>
      <div class="thumbnail">
        <ThumbnailVideo
          v-for="(thumbnailVideo, i) in thumbnailVideos"
          :key="thumbnailVideo.src"
          :poster="thumbnailVideo.poster"
          :source="thumbnailVideo.src"
          @click="swapVideo(i)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import MainVideo from "./components/MainVideo.vue";
import ThumbnailVideo from "./components/ThumbnailVideo";
import videos1 from "./mock.js";

export default {
  name: "App",
  components: {
    ThumbnailVideo,
    MainVideo
  },
  data() {
    return {
      videos: videos1
    };
  },
  computed: {
    thumbnailVideos() {
      return this.videos.slice(1);
    },
    mainVideo() {
      return this.videos[0];
    }
  },
  methods: {
    swapVideo(i) {
      const thumbVideo = this.videos[i + 1];
      this.videos[i + 1] = this.videos[0];
      this.videos[0] = thumbVideo;
      this.videos = [...this.videos];
    }
  }
};
</script>

<style lang="scss">
@import "assets/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  h1 {
    padding: 30px;
    color: $font;
    text-align: center;
  }

  .subtitle {
    padding: 10px 5%;
    color: $font;
  }

  .videos {
    height: 80%;
    display: flex;
    background-color: $main-bg;

    .main {
      width: 70%;
      align-self: center;
    }

    .thumbnail {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #app {
    height: 100%;

    h1 {
      font-size: 16px;
    }

    .videos {
      flex-direction: column;

      .main {
        width: 100%;
        margin: 10% 0 0 0;
      }

      .thumbnail {
        width: 100%;
        padding: 0 10% 10% 10%;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
</style>
